/***** HOME *******/

@media screen and (max-width: 1201px) {
    .navbar .container-fluid, .navbar .navbar-collapse {
        padding: 0;
    }

    .border-line-list.col-4 {
        padding: 0;
    }

    .border-line-list.col-4 li {
        padding: 10px;
        border-radius: 0;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border: 1px solid #c29a5b;
    }

}

@media screen and (max-width: 991px) {

    .navbar {
        margin-top: 17px !important;
    }

    .navbar .container-fluid, .navbar .navbar-collapse {
        padding: 0;
    }

    #top-logo {
        width: auto;
    }

    .logo-wrap .row {
        text-align: center;
    }

    .logo-wrap .row a {
        position: relative;
        z-index: 1;
    }

    .navbar-nav {
        float: none !important;
        margin: 0 auto !important;
        display: inline-block !important;
    }

    .navbar-collapse {
        text-align: center;
    }
    
    #socials {
        float: left;
    }

    #top-search {
        position: relative;
        float: right;
        margin-top: 6px;
    }

    .main-content {
        border: 0;
    }

    .clinical-services {
        border: 0;
    }

    .featured-post h1 {
        margin-top: 12px;
    }

    .float-list.event li {
        min-height: 460px;
        max-height: 460px;
    }

    .float-list.gallery li .wrap {
        min-height: 280px;
        max-height: 280px;
    }


    .patient-portal {
        right: 0 !important;

    }

}

@media screen and (max-width: 767px) {
    .article-list .row {
        margin-right: 0;
        margin-left: -12px;
    }

    .border-line-list.short {
        padding: 0;
    }

    .sidebar .doctor-list li {
        padding-left: 0;
    }

    .doctor-list li, .doctor-list li {
        padding-left: 0;
    }

    .sponsor-list li {
        width: 33.3%;
    }

    .sponsor-list li img {
        max-height: 130px;
    }

    .float-list.article li {
        min-height: 360px;
        /*max-height: 360px;*/
    }

    .banner-box.video {
        min-height: 1px;
        height: auto;
        width: 100%;
    }

    .banner-box.video .videoWrapper .cover {
        height: 399px;
        background-position: 25% center;
    }

    .banner-box.video .videoWrapper {
        height: auto;
    }
    .banner-box.video {
        height:auto !important;
    }

    .col-xs-top-10 {
        padding-top: 10px;
    }
    .col-xs-top-20 {
        padding-top: 20px;
    }
    .col-xs-top-0 {
        padding-top: 0 !important;
    }
    .col-xs-left-0 {
        padding-left: 0 !important;
    }
    .col-xs-right-0 {
        padding-right: 0 !important;
    }

    .col-xs-left-n12 {
        margin-left: -12px !important;
    }
    .col-xs-right-n12 {
        margin-right: -12px !important;
    }
    .col-xs-center {
        text-align: center;
    }

    .box-list li {
        padding: 0 !important;
    }

    .float-list.gallery li .wrap {
        max-height:600px;
    }

    .doctor-list li .collapse {
        display: none;
    }

}

@media screen and (max-width: 767px) and (min-width: 621px) {
    .navbar-collapse {
        display: block;
    }

    .navbar-collapse .nav > li {
        float: left;
    }
}

@media screen and (max-width: 621px) {


    .patient-portal {
        right: 0;
        top: 0;
        font-size: 12px;
    }

    .home .banner-box {
        padding: 0;
        min-height: 100px;
        height: auto;
        background: none;
        float: left;
    }
    .navbar-nav {
        float: left;
        width: 100%;
    }

    .navbar-collapse .nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        font-size: 20px;
        border-bottom: 1px solid #ccc;
    }

    .dropdown-menu > li > a{
        font-size: 15px;
    }

    .navbar-nav > li > .dropdown-menu {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .home .banner-box .col-md-4 {
        padding: 0;
    }

    .logo-wrap .row {
        text-align: left;
    }

    .nav-row{
        margin-top: -65px;
    }

    #top-logo {
        margin-top: 20px;
        max-height: 60px;
    }

    .appointment .col-md-3.col-sm-3.col-xs-12 p {
        text-align: left;
        float: left;
    }

    .sponsor-list li {
        width: 50%;
        max-height: 170px;
    }

    .sponsor-list li img {
        max-height: 250px;
    }

    .border-line-list.short li {
        padding: 10px;
        border-radius: 0;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border: 1px solid #c29a5b;
        width: 100%;
    }


    .float-list.article li {
        min-height: 360px;
        max-height: 800px;
    }
    
    .share-list li {
        float: left;
        margin-right: 10px;
    }

    .banner-box {
        background-size: auto 100% !important;
    }
    .banner-box.news {
        background-size: 100% auto !important;
    }

    .banner-box.video .panel {
        position: absolute;
        left: 0;
        width: 100%;
        top: -6px;
        height: 300px;
        z-index: 1;
    }

    .banner-box.video .videoWrapper .cover {
        background-color: #fff;
    }
}


@media screen and (max-width: 520px) {
    .post-list li {
        width: 100%;
    }
}


.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4,
.col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8,
.col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@media (max-width: 620px) {
    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11 {
        float: left;
    }

    .col-xxs-1 {
        width: 8.333333333333332%;
    }

    .col-xxs-2 {
        width: 16.666666666666664%;
    }

    .col-xxs-3 {
        width: 25%;
    }

    .col-xxs-4 {
        width: 33.33333333333333%;
    }

    .col-xxs-5 {
        width: 41.66666666666667%;
    }

    .col-xxs-6 {
        width: 50%;
    }

    .col-xxs-7 {
        width: 58.333333333333336%;
    }

    .col-xxs-8 {
        width: 66.66666666666666%;
    }

    .col-xxs-9 {
        width: 75%;
    }

    .col-xxs-10 {
        width: 83.33333333333334%;
    }

    .col-xxs-11 {
        width: 91.66666666666666%;
    }

    .col-xxs-12 {
        width: 100%;
    }

    .col-xxs-push-1 {
        left: 8.333333333333332%;
    }

    .col-xxs-push-2 {
        left: 16.666666666666664%;
    }

    .col-xxs-push-3 {
        left: 25%;
    }

    .col-xss-push-4 {
        left: 33.33333333333333%;
    }

    .col-xxs-push-5 {
        left: 41.66666666666667%;
    }

    .col-xxs-push-6 {
        left: 50%;
    }

    .col-xxs-push-7 {
        left: 58.333333333333336%;
    }

    .col-xxs-push-8 {
        left: 66.66666666666666%;
    }

    .col-xxs-push-9 {
        left: 75%;
    }

    .col-xxs-push-10 {
        left: 83.33333333333334%;
    }

    .col-xxs-push-11 {
        left: 91.66666666666666%;
    }

    .col-xxs-pull-1 {
        right: 8.333333333333332%;
    }

    .col-xxs-pull-2 {
        right: 16.666666666666664%;
    }

    .col-xxs-pull-3 {
        right: 25%;
    }

    .col-xxs-pull-4 {
        right: 33.33333333333333%;
    }

    .col-xxs-pull-5 {
        right: 41.66666666666667%;
    }

    .col-xxs-pull-6 {
        right: 50%;
    }

    .col-xxs-pull-7 {
        right: 58.333333333333336%;
    }

    .col-xxs-pull-8 {
        right: 66.66666666666666%;
    }

    .col-xxs-pull-9 {
        right: 75%;
    }

    .col-xxs-pull-10 {
        right: 83.33333333333334%;
    }

    .col-xxs-pull-11 {
        right: 91.66666666666666%;
    }

    .col-xxs-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .col-xxs-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .col-xxs-offset-3 {
        margin-left: 25%;
    }

    .col-xxs-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .col-xxs-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .col-xxs-offset-6 {
        margin-left: 50%;
    }

    .col-xxs-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .col-xxs-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .col-xxs-offset-9 {
        margin-left: 75%;
    }

    .col-xxs-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .col-xxs-offset-11 {
        margin-left: 91.66666666666666%;
    }
}

@media (max-width: 384px) {

    .hidden-xxs {
        display: none !important;
    }

    tr.hidden-xxs {
        display: none !important;
    }

    th.hidden-xxs,
    td.hidden-xxs {
        display: none !important;
    }

}

@media (min-width: 385px) and (max-width: 767px) {

    .hidden-xxs.hidden-xs {
        display: none !important;
    }

    tr.hidden-xxs.hidden-xs {
        display: none !important;
    }

    th.hidden-xxs.hidden-xs,
    td.hidden-xxs.hidden-xs {
        display: none !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .hidden-xxs.hidden-sm {
        display: none !important;
    }

    tr.hidden-xxs.hidden-sm {
        display: none !important;
    }

    th.hidden-xxs.hidden-sm,
    td.hidden-xxs.hidden-sm {
        display: none !important;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .hidden-xxs.hidden-md {
        display: none !important;
    }

    tr.hidden-xxs.hidden-md {
        display: none !important;
    }

    th.hidden-xxs.hidden-md,
    td.hidden-xxs.hidden-md {
        display: none !important;
    }

}

@media (min-width: 1200px) {

    .hidden-xxs.hidden-lg {
        display: none !important;
    }

    tr.hidden-xxs.hidden-lg {
        display: none !important;
    }

    th.hidden-xxs.hidden-lg,
    td.hidden-xxs.hidden-lg {
        display: none !important;
    }

}

@media (max-width: 384px) {

    .hidden-xs.hidden-xxs {
        display: none !important;
    }

    tr.hidden-xs.hidden-xxs {
        display: none !important;
    }

    th.hidden-xs.hidden-xxs,
    td.hidden-xs.hidden-xxs {
        display: none !important;
    }

}

@media (max-width: 384px) {

    .hidden-sm.hidden-xxs {
        display: none !important;
    }

    tr.hidden-sm.hidden-xxs {
        display: none !important;
    }

    th.hidden-sm.hidden-xxs,
    td.hidden-sm.hidden-xxs {
        display: none !important;
    }

}

@media (max-width: 384px) {

    .hidden-md.hidden-xxs {
        display: none !important;
    }

    tr.hidden-md.hidden-xxs {
        display: none !important;
    }

    th.hidden-md.hidden-xxs,
    td.hidden-md.hidden-xxs {
        display: none !important;
    }

}

@media (max-width: 384px) {

    .hidden-lg.hidden-xxs {
        display: none !important;
    }

    tr.hidden-lg.hidden-xxs {
        display: none !important;
    }

    th.hidden-lg.hidden-xxs,
    td.hidden-lg.hidden-xxs {
        display: none !important;
    }
}